@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 90%;
    margin: auto;
   
}
a{
  text-decoration: none;  
}

ul{
    list-style: none;
}
